<h1><%= current_user.first_name %>  <%=current_user.last_name %>:</h1>
<h2> Here Are Your Upcoming Trips</h2>
<% @bookings.each do |booking| %>
  <div class="booking-card <%= booking.apartment.category %>">
    <%= link_to apartment_path(booking.apartment.id) do %> 
    	<h4><%= booking.apartment.name %></h4>
    <% end %>
    <p><%= booking.enter_date %> to <%= booking.exit_date %></p>
    <p>Price per night: <%= booking.apartment.price_per_day %></p>
    <p>Total price: <%= booking.price_total %></p>
    <%= link_to("Edit This booking  |", edit_booking_path(booking)) %> 
    <%= link_to("|  Leave a review", new_booking_review_path(  booking)) %>
  </div>
<% end %>
