<h1>Make a new booking</h1>
<p>Make a booking for <%= @apartment.name %></p>

<%= simple_form_for [@apartment, @booking] do |f| %>
	<%= f.input :enter_date %>
	<%= f.input :exit_date %>
	<%= f.input :price_total %>
	<%= f.submit "make a booking!" %>
<% end %>
