<h1 class="white">Write a Review</h1>

<%= simple_form_for([@booking, @review])do |f| %>
  <%= f.input :rating, collection: [1,2,3,4,5] %>
  <%= f.text_area :content, :input_html => {:rows => 10}%>

  <%= f.hidden_field :booking_id, :value => params[:id]%><br>
  <%= f.submit "Leave Review!", class:"btn btn-success"%>
<% end %>
