<h1 class="white">Make a new booking</h1>
<p><strong>Make a booking for</strong><%= @apartment.name %></p>
<p><strong>Price per night:</strong><%= @apartment.price_per_day %></p>

<%= simple_form_for @booking do |f| %>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= f.input :enter_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true %>
    </div>
    <div class="col=xs-12 col-sm-6">
      <%= f.input :exit_date, as: :date, start_year: Date.today.year, order: [:day, :month, :year], html5: true %>
    </div>
  </div>
  <%= f.hidden_field :apartment_id, :value => @apartment.id  %>
  <%= f.submit "Book!", class:"btn"%>
<% end %>
