<div class="apartments-banner">
  <div id="header-image"></div>
  <div id="header-title">
    <h1>Come Live With Us!</h1>
    <span id="banner-typed-text"></span>
    <div id="search-bar">
      <%= render "search" %>
    </div>
  </div>
</div>

<h2>Add Some <span id="colour-word">Colour</span> To Life</h2>
<h3><i>When you travel it's the people you meet that make the place.</i></h3>
<p>We promise that every trip you take with Trippy will be a vibrant and unforgettable experience.</p>
<div class="box-container">
  <div class="box-image" id="pic1">
  </div>
  <div class="box-image" id="pic2">
  </div>
  <div class="box-image" id="pic3">
  </div>
  <div class="box-image" id="pic4">
  </div>
  <div class="box-image" id="pic5">
  </div>
</div>

<div class="wrapper-grey">
  <h2>Featured Hosts</h2>
  <h3><i>If the robots don't like em, then you probably won't either.</i></h3>
  <p>Our host selection process is informed by cutting-edge machine-learning algorithms that select only the most socially desirable people<br>who definitely are not creeps and weirdos.</p>
  <div id="card-container">
    <div class="scrolling-wrapper">
      <% @apartments.reverse_each do |apartment| %>
          <!-- <div class="col-sm-6 col-lg-4"> -->
            <%= link_to apartment_path(apartment.id) do %>
              <div class="card">
                <div class="gradient">
                  <h1><%= apartment.name %></h1>
                  <img src=<%= apartment.user.photos %> class="avatar">
                  <img src=<%= apartment.photos %> >
                  <p><%= apartment.description %></p>
                </div>
              </div>
            <% end %>
          <!-- </div> -->
      <% end %>
    </div>
  </div>
</div>


<h2>Trippy is like AirBnB, But In Reverse.</h2>
<div class="box-container">
  <div class="box-left">
    <div id="box-left-image"></div>
  </div>
  <div class="box-right">
    <h4>We emphasize the host and not the apartment.</h4>
    <p>We promise that every trip you take with Trippy will be a vibrant and unforgettable experience.</p>
  </div>
</div>



