<div class="apartments-banner">
  <div id="header-image"></div>
  <div id="header-title">
    <h1>Come Live With Us!</h1>
    <span id="banner-typed-text"></span>
    <div id="search-bar">
      <%= render "search" %>
    </div>
  </div>
</div>

<h2>It's The People That Make The place</h2>
<div class="box-container">
  <div class="box-image" id="pic1">
  </div>
  <div class="box-image" id="pic2">
  </div>
  <div class="box-image" id="pic3">
  </div>
  <div class="box-image" id="pic4">
  </div>
  <div class="box-image" id="pic5">
  </div>
</div>

<div class="wrapper-grey">
  <h2>Featured Experiences</h2>
  <div id="card-container">
    <div class="scrolling-wrapper">
      <% @apartments.reverse_each do |apartment|%>
          <!-- <div class="col-sm-6 col-lg-4"> -->
            <%= link_to apartment_path(apartment.id), class: "scroll-item" do %>
              <div class="card">
                <div class="gradient">
                  <h1><%= apartment.name %></h1>
                  <img src=<%= apartment.user.photos %> class="avatar">
                  <img src=<%= apartment.photos %> >
                  <p><%= apartment.description %></p>
                </div>
              </div>
            <% end %>
          <!-- </div> -->
      <% end %>
    </div>
  </div>
</div>


<h2>Experiences near you</h2>
<div class="box-container">
  <div class="box-left">
    <h4>Trippy is like AirBnB, but in reverse.</h4>
    <div id="box-left-image"></div>
  </div>
  <div class="box-right">
    <h4>It's hard to find <u>good</u> people</h4>
    <p></p>
  </div>
</div>



