


<%= link_to "upload your new experience", new_apartment_path, class:"btn btn-success" %>


  <div class="row">
    <% @apartments.each do |apartment| %>
        <div class="col-sm-6 col-lg-4">
        	<div class="card">
        		<%= link_to(apartment_path(apartment.id)) do %>	
        			<img src=<%= apartment.photos %> >
        			<div class="gradient"></div>
        				<h2><%= apartment.name %></h2>
        				<p><%= apartment.description %></p>
        		<% end %>
        	</div>
        </div>
    <% end %>
  </div>
