<% if @apartments.empty? %>
  <h1>You Currently Have no Listings</h1>
  <p>Become a host: Add one now!</p>
  <%= link_to new_apartment_path do %>
  <div class="btn-container">
    <button class="btn btn-success">Add Your First Listing!</button>
  </div>
  <% end %>
<% else %>
  <h1>Here Are your Apartments</h1>
  <h4>These are your listed experiences as a host:</h4>
  <%= link_to new_apartment_path do %>
    <div class="btn-container">
      <button class="btn btn-success">Add Another Listing!</button>
    </div>
  <% end %>

<div class="my-apartments-container">
  <% @apartments.each do |apartment| %>
    <div class="my-apartment-card">
      <% if apartment.photos %>
        <div class="my-apartment-photos">
          <img src=<%= apartment.photos%> height="200" >
          <p><%= apartment.name %>'</p>
        </div>
      <% else %>
        <div class="my-apartment-photos">
          <img src=<%= cl_image_path(apartment.upload_photos) unless apartment.upload_photos.blank? %> height="200" >
          <p><%= apartment.name %></p>
        </div>
      <% end %>
      <div class="my-card-content">
        <p>Daily Rate: $  <%= apartment.price_per_day%></p>
        <p>Category: <%= apartment.category %></p>
        <p>address: <%= apartment.address %></p>
        <p>Description: <%= apartment.description %></p>
        <%= link_to(edit_apartment_path(apartment.id)) do %>
          <button class="btn btn-success">Edit This Listing</button>
        <% end %>
        <%= link_to apartments_path(apartment.id), method: :delete,data: { confirm: "Are you sure?" } do %>
          <button class="btn btn-success">Remove This Listing</button>
        <% end %>
          </div>
      </div>
    </div>
  <% end %>
</div>


<% end %>



