<div class="container <%= @apartment.category %>">

  <div class="row">
    <div class="col-xs-12">
      <div class="apartment-photo-collage">
        <% unless @apartment.photos.nil? %>
          <img src=<%= @apartment.photos%> width="200" height="200" >
          <%= @apartment.name %>
        <% else %>
          <%=cl_image_tag(@apartment.upload_photos) unless @apartment.upload_photos.blank? %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="apartment-controls">
        <div class="btn">
          <%= link_to "Edit", edit_apartment_path %>
        </div>
        <div class="btn">
         <%= link_to "Delete", apartment_path,
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        </div>
        <div class="btn">
          <%= link_to "Book", new_booking_path({apartment_id: @apartment.id}) %>
        </div>
        <div class="btn">
          <%= link_to "Back", apartments_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="apartment-user-avatar">
        <% if @apartment.user.photos %>
          <img src="<%= @apartment.user.photos %>" alt="">
        <% else %>
          <img src="<%= cl_image_tag @apartment.user.upload_photos unless @apartment.user.upload_photos.blank?  %>" alt="">
        <% end %>
      </div>
      <div class="user-details">
        <p>Host Since: <%= @apartment.user.created_at %></p>
        <p>Name: <%= @apartment.user.first_name %> <%= @apartment.user.last_name %>
        </p>
        <p>Bio: <%= @apartment.user.bio %></p>
      </div>
      <div class="apartment-details">
        <h1 class="white"> <%= @apartment.name %></h1>
        <p>Here is a description of your apartment: </p>
        <p> <strong>Name:</strong> <%=  @apartment.name %> </p>
        <p> <strong>Price:</strong> <%=  @apartment.price_per_day %></p>
        <p> <strong>Theme:</strong> <%=  @apartment.category %></p>
        <p> <strong>Location:</strong> <%=  @apartment.description %></p>
        <p> <strong>Location:</strong> <%=  @apartment.location %></p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="apartment-booking-form">
        <%= render "booking_form" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="apartment-reviews">
        <h1>Reviews for: <%= @apartment.name %></h1>
        <% @apartment.bookings.reverse_each do |booking| %>
          <div class="review-card">
            <p>Name: <%= booking.user.first_name %></p>
            <p>Date: <%= booking.exit_date %></p>
            <p> <%= booking.reviews[0].content %><p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
